<% if flash[:success] %>
    <div class="alert alert-solid-success alert-bold" role="alert">
        <p class=" mt-3 alert alert-success"><%= sanitize(flash[:success]) %></p>
    </div>
<% end %>
<% if flash[:error] %>
    <div class="alert alert-solid-danger alert-bold" role="alert">
        <p class=" mt-3 alert alert-danger"><%= sanitize(flash[:error]) %></p>
    </div>
<% end %>

<h1>Your Food List</h1>
<p>Hello <b> <%= current_user.name %> </b>, Here you can see all of the foods added by you</p>

<div class="new-container d-flex flex-row-reverse">
<%= link_to raw("<i class=\"fa-solid fa-plus\"></i> Add Food"), foods_new_path ,:class => 'btn btn-md btn-success m-4' %>
</div><table class="table table-bordered table-light">
  <thead>
    <tr>
      <th scope="col">#ID</th>
      <th scope="col">Name</th>
      <th scope="col">Measurement unit</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
  <% @owned_food.each do |food| %>
    <tr>
      <th scope="row"><%= food.id %></th>
        <td><%= food.name %></td>
      <td><%= food.measurement_unit %></td>
       <td><%= food.price %> $</td>
      <td><%= food.quantity %></td>
      <td><%= button_to raw('<i class=\"fa-solid fa-trash-can"\></i> Delete'),"foods/delete/#{food.id}", :method => :delete,:class => "btn btn-sm btn-danger" %></td>
    </tr>
    <% end %>
  </tbody>
</table>